{% extends 'base.html' %}
{% load static %}

{% block title %}Edit record{% endblock %}

{% block content %}
<h1 class='info_text'>Edit record</h1>

    <table>
    	<thead>
    		<tr>
    			<th>
    			</th>
    			<th>
    				CURRENT DATA
    			</th>
    			<th>
    				FIELDS FOR EDITING
    			</th>
    		</tr>
    	</thead>
    	<tbody>
            <form method="PUT">
        		<tr>
                    <th>
                        PHOTO:
                    </th>
                    <th id="photo">
                        
                    </th>
                    <th>
                        <input type="text">
                    </th>
                </tr>
                <tr>
        			<th>
        				NAME:
        			</th>
        			<th id="name">
        				
        			</th>
        			<th>
        				<input type="text" id="name_input">
        			</th>
        		</tr>
        		<tr>
        			<th>
        				POSITION:
        			</th>
        			<th id="position">
        				
        			</th>
        			<th>
        				<input type="text" id="position_input">
        			</th>
        		</tr>
        		<tr>
        			<th>
        				SALARY:
        			</th>
        			<th id="salary">
        				
        			</th>
        			<th>
        				<input type="text" id="salary_input">
        			</th>
        		</tr>
        		<tr>
        			<th>
        				CHIEF:
        			</th>
        			<th id="parent">
        				
        			</th>
        			<th class='chief'>
                        <input type="text" id="parent_input" list="chief" onkeyup="getName()" onclick="getName()">
                        <datalist id="chief">
                            
                        </datalist>
        			</th>
        		</tr>
        		<tr>
        			<th>
        				EMPLOYMENT DATE:
        			</th>
        			<th id="employment_date">
        				
        			</th>
        			<th>
        				<input type="text" id="employment_date_input" placeholder="YYYY-MM-DD">
        			</th>
        		</tr>
                <button type='button' onclick="submitChanges()">SAVE</button>
            </form>
    	</tbody>
    </table>

    <script src='{% static "employee/js/chief_search.js" %}'></script>
    <script src='{% static "employee/js/edit_info.js" %}'></script>
{% endblock content %}
