{% extends 'base.html' %}
{% load static %}

{% block title %}Edit record{% endblock %}

{% block content %}
<h1 class='info_text'>Edit record</h1>

    <table>
    	<thead>
    		<tr>
    			<th>
    			</th>
    			<th>
    				CURRENT DATA
    			</th>
    			<th>
    				FIELDS FOR EDITING
    			</th>
    		</tr>
    	</thead>
    	<tbody>
            <form method="PUT">
        		<tr>
        			<th>
        				NAME:
        			</th>
        			<th>
        				{{employee.name}}
        			</th>
        			<th>
        				<input type="text">
        			</th>
        		</tr>
        		<tr>
        			<th>
        				POSITION:
        			</th>
        			<th>
        				{{employee.position}}
        			</th>
        			<th>
        				<input type="text">
        			</th>
        		</tr>
        		<tr>
        			<th>
        				SALARY:
        			</th>
        			<th>
        				{{employee.salary}}
        			</th>
        			<th>
        				<input type="text">
        			</th>
        		</tr>
        		<tr>
        			<th>
        				CHIEF:
        			</th>
        			<th>
        				{% if chief == 'None' %}
        					None
        				{% else %}
        					<a href="{% url 'detail' chief.id %}">{{chief}}</a>
        				{% endif %}
        			</th>
        			<th class='chief'>
                        <input type="text" list="chief" onkeyup="getName()" onclick="getName()">
                        <datalist id="chief">
                            
                        </datalist>
        			</th>
        		</tr>
        		<tr>
        			<th>
        				EMPLOYMENT DATE:
        			</th>
        			<th>
        				{{ employee.employment_date}}
        			</th>
        			<th>
        				<input type="text">
        			</th>
        		</tr>
                <button type="submit">SAVE</button>
            </form>
    	</tbody>
    </table>

    <script src='{% static "employee/js/chief_search.js" %}'></script>
{% endblock content %}
